[submodule "OCA/bank-payment"]
	path = OCA/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 14.0

[submodule "akretion/banking"]
	path = akretion/banking
	url = git@github.com:akretion/banking.git
	branch = 14-mig-account_payment_sale
