[submodule "OCA/bank-payment"]
	path = OCA/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 14.0

[submodule "akretion/sale-import"]
	path = akretion/sale-import
	url = git@github.com:akretion/sale-import.git
	branch = 14.0

[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 14.0

[submodule "OCA/rest-framework"]
	path = OCA/rest-framework
	url = git@github.com:OCA/rest-framework.git
	branch = 14.0

[submodule "akretion/sale-workflow"]
	path = akretion/sale-workflow
	url = git@github.com:akretion/sale-workflow.git
	branch = 14.0-mig-sale_partner_version

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 14.0
